/*------------------------------------------------------------------------------------------------------------ 
 FONTES*/

@font-face {
  font-family: "Mercy";
  src: url(Mercy.ttf);
}

@font-face {
  font-family: "Determination Mono";
  src: url(Determination\ Mono.ttf);
}

@font-face {
  font-family: "Pixel Operator Mono";
  src: url(PixelOperatorMono.ttf);
}

@font-face {
  font-family: "Determination";
  src: url(Determination.ttf);
}

@font-face {
  font-family: "8-Bit Bitanco";
  src: url(8-bitanco.ttf);
}

/*------------------------------------------------------------------------------------------------------------ 
 HTML*/

html {
  color: #fff;
  scroll-behavior: smooth;
}

/*------------------------------------------------------------------------------------------------------------ 
BODY*/

body {
  max-width: 1120px;
  margin: 0 auto;
  background: url(img/background.gif);
}

/*------------------------------------------------------------------------------------------------------------ 
HEADER*/

.cabecalho {
  display: flex;
  padding: 30px 15px;
  justify-content: space-between;
}

.cabecalho .logo {
  width: 65px;
  height: 65px;
  line-height: 55px;
  font-size: 30px;
}

.cabecalho .menu li a {
  font-size: 29px;
  font-family: "Determination";
  transition: 0.2s;
}

.cabecalho .menu li a:hover {
  color: yellow;
  background-image: url(img/heart-icon.ico);
  background-repeat: no-repeat;
  background-size: 29px;
  padding-left: 35px;
}

/*------------------------------------------------------------------------------------------------------------ 
HOME*/

.home {
  display: flex;
  align-items: center;
  gap: 50px;
}

/*------------------------------------------------------------------------------------------------------------ 
SOBRE MIM */
.sobre-mim .titulo {
  font-family: "Determination";
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 200px;
  text-transform: uppercase;
}

.sobre-mim .subtitulo-1 {
  font-family: "Determination Mono";
  text-align: left;
  font-size: 29px;
}

.sobre-mim .subtitulo-2 {
  font-family: "Determination Mono";
  text-align: left;
  font-size: 29px;
}

.sobre-mim .subtitulo-3 {
  font-family: "Determination Mono";
  text-align: left;
  font-size: 29px;
}

.sobre-mim .informacoes-1 {
  font-family: "Pixel Operator Mono";
  font-size: 24px;
  text-align: left;
  margin-bottom: 30px;
}

.sobre-mim .informacoes-2 {
  font-family: "Pixel Operator Mono";
  font-size: 24px;
  text-align: left;
  margin-bottom: 30px;
}

.sobre-mim .informacoes-3 {
  font-family: "Pixel Operator Mono";
  font-size: 24px;
  text-align: left;
  margin-bottom: 30px;
}

/*------------------------------------------------------------------------------------------------------------ 
MEUS LINKS */

.meus-links .titulo {
  font-family: "Determination";
  font-size: 45px;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 50px;
  margin-top: 200px;
  text-transform: uppercase;
}

.meus-links .informacoes {
  display: flex;
  align-items: row;
  justify-content: space-between;
}

.meus-links .linkedin {
  color: #0e76a8;
  font-family: "Determination Mono";
  font-size: 30px;
  margin-bottom: 30px;
}

.meus-links .linkedin li a {
  padding: 0 30px;
}

.meus-links .whatsapp {
  color: #25d366;
  font-family: "Determination Mono";
  font-size: 30px;
  margin-bottom: 30px;
}

.meus-links .whatsapp li a {
  padding: 0 30px;
}

.meus-links .github {
  color: #454f58;
  font-family: "Determination Mono";
  font-size: 30px;
  margin-bottom: 30px;
}

.meus-links .github li a {
  padding: 0 30px;
}

.meus-links .discord {
  color: #7289da;
  font-family: "Determination Mono";
  font-size: 30px;
  margin-bottom: 30px;
}

.meus-links .discord li a {
  padding: 0 30px;
}

/*------------------------------------------------------------------------------------------------------------ 
MEUS PROJETOS */

.meus-projetos {
  padding: 70px 0 70px;
}

.meus-projetos .titulo {
  font-family: "Determination";
  text-align: center;
  padding: 60px 0;
  font-size: 45px;
  font-weight: 500;
  text-transform: uppercase;
}

.meus-projetos .container-projetos {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 20px;
  justify-content: center;
  height: 100%;
}

.meus-projetos .projeto {
  max-width: 260px;
  max-height: 500px;
  position: relative;
  display: none;
  border: dashed yellow;
}

.meus-projetos .projeto.ativo {
  display: block;
}

.projetos .projeto img {
  height: 100%;
}

.meus-projetos .projeto .informacoes-projeto {
  background-color: #040203;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  padding: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.3s ease;
}

.meus-projetos .projeto .informacoes-projeto p {
  margin-top: 10px;
  font-family: "Pixel Operator Mono";
}

.meus-projetos .container-projetos .projeto:hover .informacoes-projeto {
  opacity: 0.8;
  background: #000;
}

.meus-projetos .projeto h3 {
  background-color: #040203;
  width: 100%;
  padding-left: 20px;
  padding-bottom: 10px;
  padding-top: 10px;
  position: absolute;
  bottom: 0;
  font-family: "8-Bit Bitanco";
}

.meus-projetos .btn-mostrar-projetos {
  background-color: black;
  border: ridge orange;
  color: orange;
  font-family: "Mercy";
  width: 230px;
  padding: 20px;
  font-size: 25px;
  margin: 0 auto;
  display: flex;
  justify-content: right;
  cursor: pointer;
  background-image: url(img/sprit-1.PNG);
  background-repeat: no-repeat;
  background-size: 29px;
  background-position: 6.5%;
}

.meus-projetos .btn-mostrar-projetos:hover {
  color: yellow;
  border: ridge yellow;
  background-image: url(img/heart-icon.ico);
  background-repeat: no-repeat;
  background-size: 29px;
  background-position: 6.5%;
}

.meus-projetos .btn-mostrar-projetos.remover {
  display: none;
}
